body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    margin: 0 !important;
    padding: 0;
}
.navbar, .footer {
    background-color: #9999ff !important;
}
.navbar-nav {
    margin-left: auto;
}
.btn {
    margin: 5px;
}
.btn-info {
    color: white !important;
}
.navbar-toggler {
    background-color: white !important;
}
.navbar-brand {
    font-size: 30px !important;
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
}
.btn-outline-primary, .navbar-brand {
    border-color: white !important;
    color: white !important;
}
.btn-outline-primary:hover {
    background-color: white !important;
    color: #008000 !important;
}
.container {
    margin: auto;
    padding: 5px;
}
@media only screen and (max-width: 767px) {
  .card {
    width: 100% !important;
    margin: 10px 0 !important;
  }
}
.btn-primary {
    background-color: #00008B !important;
    border-color: white !important;
    border-radius: 10px !important;
}
form, .form-control {
    border-color: white !important;
    border-style: solid;
    padding: 20px !important;
    border-radius: 30px;
}
.form-rm-confirm {
    border-style: none !important;
}
.submit:hover{
    background-color: #ffcc99 !important;
    color: white;
}
a:link {
    text-decoration: none;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 100%;
}
.my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 100px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 100%;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
    color: #777;
}
.card {
    margin-top: 20px;
}
.products-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-add {
    background-color: #9999ff;
}
footer {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin: 0;
}
.pagination {
    text-align: center;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}
.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}
.form-search {
    border-color: green !important;
    color: red !important;
}
.logout-btn {
    border-color: transparent !important;
    padding: 0 !important;
}

